h1 {
  font-size: 8rem;
  margin: 0;
  margin-left: 1.5em;
}

h2 {
  font-size: 6rem;
}

.container {
  border: 1px solid black;
  height: 600px;
  width: 600px;
  background-color: magenta;
}

.box {
  background-color: olive;
  width: 50%;
  height: 50%;
}

p {
  font-size: 40px;
  line-height: 100%;
}

img {
  width: 150px;
  /*float: right;*/
  float: right;
  border: 2px solid red;
}
